RentACar/Desktop/Connected Services/VehicleServiceReference/VehicleServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAll">
        <s:complexType />
      </s:element>
      <s:element name="GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllResult" type="tns:ArrayOfVehicleInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVehicleInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VehicleInformation" nillable="true" type="tns:VehicleInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VehicleInformation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MinLicenseAge" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MinAge" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DailyBorderKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Airbag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BaggageVolume" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SeatingCapacity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DailyRentalPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="isRentaled" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRentaledVehicles">
        <s:complexType />
      </s:element>
      <s:element name="GetRentaledVehiclesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRentaledVehiclesResult" type="tns:ArrayOfVehicleInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vehicleId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult" type="tns:VehicleInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RentACar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vehicleId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="rental" type="tns:Rentalinformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Rentalinformation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HowManyDays" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastKm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Payment" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="VehicleID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RentACarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RentACarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnRentACar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vehicleId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnRentACarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnRentACarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="GetRentaledVehiclesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRentaledVehicles" />
  </wsdl:message>
  <wsdl:message name="GetRentaledVehiclesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRentaledVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="RentACarSoapIn">
    <wsdl:part name="parameters" element="tns:RentACar" />
  </wsdl:message>
  <wsdl:message name="RentACarSoapOut">
    <wsdl:part name="parameters" element="tns:RentACarResponse" />
  </wsdl:message>
  <wsdl:message name="UnRentACarSoapIn">
    <wsdl:part name="parameters" element="tns:UnRentACar" />
  </wsdl:message>
  <wsdl:message name="UnRentACarSoapOut">
    <wsdl:part name="parameters" element="tns:UnRentACarResponse" />
  </wsdl:message>
  <wsdl:portType name="VehicleServiceServiceSoap">
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:GetAllSoapIn" />
      <wsdl:output message="tns:GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRentaledVehicles">
      <wsdl:input message="tns:GetRentaledVehiclesSoapIn" />
      <wsdl:output message="tns:GetRentaledVehiclesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RentACar">
      <wsdl:input message="tns:RentACarSoapIn" />
      <wsdl:output message="tns:RentACarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnRentACar">
      <wsdl:input message="tns:UnRentACarSoapIn" />
      <wsdl:output message="tns:UnRentACarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VehicleServiceServiceSoap" type="tns:VehicleServiceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentaledVehicles">
      <soap:operation soapAction="http://tempuri.org/GetRentaledVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RentACar">
      <soap:operation soapAction="http://tempuri.org/RentACar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRentACar">
      <soap:operation soapAction="http://tempuri.org/UnRentACar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VehicleServiceServiceSoap12" type="tns:VehicleServiceServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentaledVehicles">
      <soap12:operation soapAction="http://tempuri.org/GetRentaledVehicles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RentACar">
      <soap12:operation soapAction="http://tempuri.org/RentACar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRentACar">
      <soap12:operation soapAction="http://tempuri.org/UnRentACar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VehicleServiceService">
    <wsdl:port name="VehicleServiceServiceSoap" binding="tns:VehicleServiceServiceSoap">
      <soap:address location="http://localhost:62673/VehicleServiceService.asmx" />
    </wsdl:port>
    <wsdl:port name="VehicleServiceServiceSoap12" binding="tns:VehicleServiceServiceSoap12">
      <soap12:address location="http://localhost:62673/VehicleServiceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>